:root{
    --primary-color: #EC5827;
}
*{
    box-sizing: inherit; /*kế thừa thẻ chứa nó*/
}

html{
   
}

body {
    margin: 0px;
    padding: 0px;
    font-size: 13px;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

#header,
#menu,
#home-product {
    width: 1230px;
    margin: 0px auto;
    display: block;
}

#header {
    display: flex;
    padding-top: 20px;
}

#header .left,
#header .right {
    width: 40%;
}

#header .center {
    width: 20%;
}


#header .slogan {
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 700;
}

center {
    color: var(--primary-color);
    font-size: 24px;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #000;
}

#header .right ul {
    display: flex;
}


#header .right ul.link-item li {
    padding: 0px 2px;
}

#header .right ul.language-item li {
    padding: 0px 2px;
}

.flex {
    display: flex;
}


#header .right a {
    color: #000;
    font: 16px;
    font-weight: bold;
}

#header .right a:hover,
#header .right a.active {
    color: var(--primary-color);
}

#header .right ul.language-item li {
    padding: 0px 6px;
    border-right: 1px solid #000;
    display: block;
    height: 12px;
    line-height: 11px;
    font-size: 16px;
}

#header .right ul.language-item li:last-child {
    border-right: 0px none;
}

#header .right ul.language-item,
#header .right ul.link-item {
    float: right;
}

#header .right ul.language-item {
    margin-top: 18px;
    margin-left: 10px;
}

.clear-float {
    clear: both;
}

#header .user ul {
    float: right;
}

#header .user {
    position: absolute;
    bottom: 20px;
    right: 0px;
}

#header .right {
    position: relative;
}

.p-l-10 {
    padding-left: 10px;
}

.m-t-10{
    margin-top: 10px;
}


#menu {
    border-top: 1px solid #EC5827;
    margin-top: 5px;
    display: flex;
    position: relative;
}


#menu .left {
    flex-grow: 1;
}


#menu ul {
    display: flex;
    height: 50px;
    padding-top: 16px;
}

#menu ul li {
    padding: 0px 18px;
}

#menu ul li:first-child {
    padding-left: 0px;
}

#menu ul li a {
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 15px;
}

#menu ul li a:hover,
#menu ul li a.active {
    color: var(--primary-color);

}

#menu ul li {
    border-right: 1px solid #000;
    height: 15px;
}

#menu ul li:last-child {
    border-right: 0px none;
}

#menu .search {
    border: 2px solid var(--primary-color);
    border-radius: 20px;
    margin-top: 8px;
    display: flex;
}

#menu .search input[type="text"] {
    border: 0px none;
    border-radius: 20px 0px 0px 20px;
    height: 30px;
    padding: 0px 5px;
    width: 200px;
    outline: transparent;
}

#menu .search button {
    border: 0px none;
    background-color: #000;
    height: 30px;
    width: 45px;
    border-radius: 0px 20px 20px 0px;
    color: #fff;
}

.btn-navbar{
    display: none;
}

#banner {
    max-width: 2400px;
    margin: auto;
    width: 100%;
}

#banner img {
    width: 100%;
}



#footer
{
    background-image: url('../image/bg-footer.png');
    height: 630px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 2400px;
    width: 100%;
    margin: 0 auto;
}

#footer .container
{
    display: flex;
    padding-top: 230px;
}

#footer .container .cong-ty
{
    margin-left: 180px;
}

#footer .container .cong-ty ul
{
    width: 390px;
}



#footer .container .title
{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

#footer .container li
{
    font-size: 18px;
    margin-bottom: 10px;
}

#footer .container li>img,
#footer .container li .img
{
margin-right: 15px;
}

#footer .container .thong-tin
{
    margin-left: 50px;
}
#footer .container .thong-tin ul
{
    width: 275px;
}
#footer .container .thong-tin a
{
    font-size: 18px;
    color: #000;
}

#footer .container .cong-ty ul li:hover a,
#footer .container .thong-tin a:hover
{
    color: var(--primary-color);
}

#footer .container .theo-doi
{
    margin-left: 50px;
}


#footer .container .theo-doi .fanpage
{
    margin-top: 15px;
}

#footer .container .thong-tin a:hover
{
    color: #E67A00;
}


  .navbar{
    width: 30px;
    height: 30px;
    display: none;
  }
 
  .navbar .navbar-icon{

    font-size: 34px;
    color: var(--primary-color);
    cursor: pointer;
    padding-left: 20px;
    padding-bottom: 20px;
  }

  .d-block{
    display: block;
  }