:root{
    --white-color: #fff;
    --black-color: #000;
    --primary-color: #EC5A28;
}

*{
    box-sizing: inherit; /*kế thừa thẻ chứa nó*/
}

html{
    /*fz 100% = 17px => 72.5% = 10px*/ 
    /* font-size: 72.5%; */
    /* line-height: 1.7rem; */
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}


.header{
    width: 100%;
    height: 600px;
    padding-top: 30px;
    margin: 0 auto;
}

.container{
    width: 70%;
    margin: 0 auto;
}
.header_welcome{
    display: flex;
    /* justify-content: space-around; */
    padding: 0;
    border-bottom:1px solid var(--primary-color) ;
}

.welcome>div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* padding-left: 50px; */
    /* float: right; */
}

.welcome img{
    width: 50px;
    height: 50px;
    /* margin-right: 10px; */
}

.welcome h1{
    font-size: 18px;
    color: var(--primary-color);
    font-weight: 700;
    padding-left: 7px;
}


.logo img{
    width: 100px;
}

.infor_link ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 0;
}

.infor_link ul li{
    list-style-type: none;
    /* padding: 7px; */
    padding: 0 2px;
}

.infor_link ul li img{
    width: 30px;
    height: 30px;
}

.infor_link div:first-child{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.country{
    position: relative;
}
.country>li>a{
    text-decoration: none;
    color: var(--black-color);
    font-size: 14px;
    padding: 0 4px 0 8px;
    font-weight: 700;
}

.currency li:first-child a,
.country li:first-child a{
    color: var(--primary-color);
}

.currency>li:hover>a,
.country>li:hover>a{
   color: var(--primary-color); 
}

.currency li::before,
.country>li::before{
    content: "";
    height: 12px;
    width: 1px;
    background-color: #000;
    position: absolute;
    top: 30%;
    transform: translateX(-30%);
    
}

.currency>li:first-child::before,
.country>li:first-child::before{
    content: "";
    height: 0;
    width: 0;
}

.currency{
    position: relative;
}
.currency li a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    color: var(--black-color);
    padding: 0 4px 0 8px;
}

.login {
    width: 100%;
    padding: 0;
    display: inline-block;
    /* margin: 0; */
    text-align: right;
    position: relative;
    margin-left: -9px;
}

.login li{
    list-style: none;
    display: inline-block;
}

.login li a{
    text-decoration: none;
    color: var(--black-color);
    font-weight: 700;
    padding-left: 10px ;
}
.login li:first-child::before{
    content: "";
    width: 1px;
    height: 15px;
    background-color: #000;
    position: absolute;
    top: 30%;
    left: 44%;
}

.login li:hover a{
    color: var(--primary-color);
    
}

.rectangle{
    width: 50px;
    cursor: pointer;
}

.cart{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/* MENU */

.menu{
    width: 100%;
    height: 50px;
    display: flex;
    padding: 0;
    justify-content: space-between;
}


.menu_list{
    display: flex;
    /* margin: 0; */
    padding: 0;
    position: relative;
}

.menu_list li{
    list-style: none;
    padding: 8px 14px 8px 0;
}

.menu_list li a{
    text-decoration: none;
    color: #000;
    font-weight: 700;
    font-size: 14px;
    padding-right: 10px;
}

.menu_list li::after{
    content: "";
    height: 15px;
    width: 2px;
    background-color: #000;
    position: absolute;
    top: 40%;
    transform: translateX(-40%);
}

.menu_list li:last-child::after{
    content: "";
    width: 0;
    height: 0;
}

.menu_list li:first-child a{
    color: var(--primary-color);
}

.menu_list li:hover a{
    color: var(--primary-color);
}

/* search tim kiem */

.search{
    width: 300px;
    /* background-color: bisque; */
    /* height: 50px; */
    padding-top: 5px;
    display: flex;
    justify-content: flex-end;
    height: 40px;
}
.search input{
    border: 2px solid var(--primary-color);
    border-right: none;
    padding: 4px 8px;
    border-radius: 15px 0 0 15px;
}

.search_btn{
    border: 2px solid var(--primary-color);
    border-left: none;
    padding: 3px 17px;
    border-radius: 0 15px 15px 0;
    background-color: #0E0E0E;
    margin-left: -5px;
}



.bgc_img-header img{
    width: 100%;
    height: 350px;
}


/* CONTENT */

/* .content{
    width: 100%;
    height: 1100px;
} */


.hotseller_heading{
    /* margin-top: 200px; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}


.hotseller_heading img{
    margin: 0 10px;
}
.hotseller_heading img:first-child{
    width: 100px;
}
.hotseller_heading img:nth-child(2){
    width: 390px;
}
.hotseller_heading img:last-child{
    width: 40px;
}

/* product */

.product-list{
    margin-top: 30px;
    
}

.product-img{
    width: 210px;
    height: 300px;
    box-shadow: 1px 2px 3px #000;
    object-fit: cover;
}
.price-text,.pricing{
    color: var(--white-color);
}
.price-text{
    font-size: 12px;
}
.pricing{
    font-size: 17px;
    font-weight: 700;
}
.product{
    /* width: 50px; */
    position: relative;
}

.product:hover img{
    box-shadow: 1px 1px 2px var(--primary-color);
    cursor: pointer;
    
}

.price{
    width: 90px;
    height: 40px;
    background-color: var(--primary-color);

    position: absolute;
    top: 10px;

    /* box-shadow: 2px 1px 3px #000; */
}

.price::after{
    content: "";
    width: 90px;
    height: 40px;
    /* background-color: #000; */
    position: absolute;
    top: 100%;
    left: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 15px solid #ce3807;
    
}


.price::before{

    content: "";
    width: 70px;
    height: 10px;
    background-color: #fff;
    position: absolute;
    top: -10px;
    left: 10px;
}


.amount{
    width: 70px;
    height: 40px;
    background-color: var(--white-color);
    position: absolute;
    top: 50px;
    left: 20px;
    
}

.amount_type,
.amount_capacity{
    font-size: 14px;
    font-weight: 700;
}

.amount::after{
    content: "";
    width: 70px;
    height: 30px;
    /* background-color: #000; */
    position: absolute;
    top: 100%;
    left: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-top: 20px solid var(--white-color);
}


/* su menh */
.mission{
    margin-top: 20px;
    padding-top: 20px;
    /* background-image: url('../image/trangngoai/ICON_WEBSITE\ BEE-12.png'); */
    background-color: #FCE7C5;
    width: 100%;
    height: 380px;
    overflow: hidden;
}

.mission_heading img:first-child{
    width: 120px;
}   


.mission_heading img:nth-child(2){
    width: 140px;
}


.mission_heading img:last-child{
    width: 50px;
}

.mission_text{
    text-align: justify;
    padding-right: 40px;
    font-size: 18px;
}

.mission_content{
    display: flex;
    padding-top: 20px;
}

.bgc_img-content img{
    
    width: 100%;
    height: 300px;

}

/* feed back */

.feedback{
    padding-top: 20px;
    background-color: #F0F0F1;
    height: 530px;
    z-index: 11;
    overflow: hidden;
}

.feedback-title>span>img{
    width: 40px;
}

.feedback-title div>img{
    padding-top: 10px;
    width: 450px;
}
.comment{
    background-color: #b1b1b1d3;
    width: 100%;
    height: 150px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    border-radius: 15px;
    margin-top: 20px;
}

.comment-avt img{
    width: 150px;
    padding: 20px;
}

.comment-text>span>img{
    width: 30px;
    padding-bottom: 10px;
}

.arrow-right{
    padding-top: 10px;
    padding-bottom: 20px;
    float: right; 
    cursor: pointer;
}

/* tin tuc */
.news{
    width: 100%;
    padding-top: 20px;
    height: 600px;  
    position: relative;
    z-index: 10;
    overflow: hidden;
}

.news-title img{
    width: 150px;
    z-index: 1;
    /* height: 50px; */
}
.news::after{
    content: "";
    border-bottom: 2px solid var(--primary-color);
    position: absolute;
    top: 7%;
    left: 0;
    right: 0;
    z-index: -2;
}

.news::before{
    content: "";
    width: 15px;
    height: 15px;
    background-color: #fff;
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-30%,-50%);
    right: 0;
    z-index: -1;
}

.news_content{
    padding-top: 30px;
    z-index: 1;
}

.news_post{
    background-color: rgba(204, 204, 204, 0.3);
    padding-bottom: 10px;
}

.news_post img{
    width: 170px;
    height: 140px;
    padding-top: 15px;
}

.post-heading{
    margin: 0;
    font-size: 20px;
    padding: 8px 0;
    font-weight: 600;
    cursor: default;
}

.post-text{
    text-align: justify;
    padding: 0 18px;
    font-size: 13px;
    cursor: default;
}

.post-text a{
    text-decoration: none;
    color: #000;
}

.post-text a:hover{
    color: var(--primary-color);
}

/* footer */

#footer{
    background: url('../image/trangngoai/ICON_WEBSITE\ BEE-23.png') no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 450px;
    /* margin-top: 1600px; */

    position: relative;
    top: 50%;right: 0;left: 0;bottom: 0;
    z-index: 1;
}

.footer-list{
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 37%;
    left: 28%;
}

.footer-list h6{
    font-size: 14px;
    font-weight: 700;
    padding-left: 15px;
    cursor: default;
}

.followus h6{
    padding-left: 0;
}
.footer-list ul {
    padding: 0;
    width: 300px;
    height: 200px;
}
.footer-list ul li{
    list-style-type: none;
    font-weight: normal;
    padding: 2px 12px;
}

.footer-list ul li a{
    text-decoration: none;
    color: #000;
}

.footer-list ul li:hover a{
    color: var(--primary-color);
}
